#div1{
    display: flex;
    justify-content: center;
    font-size: 350%;
}
.container{
    position: relative;
    text-align: center;
    color: rgb(2, 45, 70);
    font-style: italic;
    width: 100%;
    height: 300px;
}
.centered {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.container img{
    width: 100%;
    height: 100%;

}
body{
    background-color: rgba(11, 73, 102, 0.699);
}
.container1{
    position: relative;
    text-align: center;
    color: rgb(2, 45, 70);
    width: 100%;
    height: 300px;
     border: 10px solid rgb(2, 45, 70);
}
.centered1 {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 75%;
}
#par1{
    padding: 100px;
    font-size: large;
}
.img2 img{
    display: flex;
    align-items: center;

}